<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="form-content sign-up">
        <div class="form-container">
            <h1 class="form-title">Sign Up</h1>
            <form class="form" action="/sign-up" method="post">
                <div class="form-element">
                    <label class="label" for="firstName">First Name</label>
                    <input class="input" type="text" name="firstName" id="firstName" value="<%= locals.oldInput ? locals.oldInput.firstName : "" %>">
                    <% if (locals.errors && errors.find(error => error.path === "firstName")) { %>
                        <span class="err form-err"><%= errors.find(error => error.path === "firstName").msg %></span>
                    <% } %>
                </div>
                <div class="form-element">
                    <label class="label" for="lastName">Last Name</label>
                    <input class="input" type="text" name="lastName" id="lastName" value="<%= locals.oldInput ? locals.oldInput.lastName : "" %>">
                    <% if (locals.errors && errors.find(error => error.path === "lastName")) { %>
                        <span class="err form-err"><%= errors.find(error => error.path === "lastName").msg %></span>
                    <% } %>
                </div>
                <div class="form-element">
                    <label class="label" for="username">Email</label>
                    <input class="input" type="text" name="username" id="username" value="<%= locals.oldInput ? locals.oldInput.username : "" %>">
                    <% if (locals.errors && errors.find(error => error.path === "username")) { %>
                        <span class="err form-err"><%= errors.find(error => error.path === "username").msg %></span>
                    <% } %>
                </div>
                <div class="form-element">
                    <label class="label" for="password">Password</label>
                    <input class="input" type="password" name="password" id="password">
                    <% if (locals.errors && errors.find(error => error.path === "password")) { %>
                        <% errors.filter(error => error.path === "password").forEach(error => { %>
                            <span class="err form-err"><%= error.msg %></span>
                        <% }) %>
                    <% } %>
                </div>
                <div class="form-element">
                    <label class="label" for="confirmPassword">Confirm Password</label>
                    <input class="input" type="password" name="confirmPassword" id="confirmPassword">
                    <% if (locals.errors && errors.find(error => error.path === "confirmPassword")) { %>
                        <span class="err form-err"><%= errors.find(error => error.path === "confirmPassword").msg %></span>
                    <% } %>
                </div>
                <div class="form-element"><button class="btn" type="submit">Sign up</button></div>
            </form>
            <p class="form-text">Already have an account? <a href="/login">Log in</a> </p>
        </div>
    </div>
</body>
</html>